{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% assign title = post.title %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          <p>
            {{post.title}} <br>
            {{ post.venue }} {{ post.date | default: "1900-01-01" | date: "%Y" }}, {{post.city}} {{post.state}}<br>
            {{post.authors}}<br>
            [ <a href="{{post.paperurl}}" rel="permalink">PDF</a> ]
            [ <a href="{{post.bibtex}}" rel="permalink">BibTex</a> ]
          </p>
        {% endif %}
  </article>
</div>
