{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>

        {% elsif post.collection == 'publications' or post.collection == 'workshops' %}

            <td>
              <img class="table_entry" src="{{post.thumbnail | prepend: "/files/thumbnails/" }}">
            </td>

            <td>
              <div class='conf_title'>{{post.title}}</div><br>

              <div class='conf_authors'>{{post.authors}}</div><br>

              <div class='conf_venue'>{{ post.venue }}
                {{ post.date | default: "1900-01-01" | date: "%Y" }}, {{post.city}}, {{post.state}}</div><br>

              {% if post.paperurl %}
                <a class="button pdf" href="{{post.paperurl | prepend: "/files/papers/"}}" rel="permalink">Pdf</a>
              {% endif %}

              {% if post.arxiv %}
                <a class="button arxiv " href="{{post.arxiv}}" rel="permalink">ArXiv</a>
              {% endif %}

              {% if post.bibtex %}
                <a class="button bibtex" href="{{post.bibtex | prepend: "/files/bibtex/"}}" rel="permalink">BibTex</a>
              {% endif %}

              {% if post.project %}
                <a class="button project" href="{{post.project}}" rel="permalink">Project Page</a>
              {% endif %}

              {% if post.source %}
                <a class="button source" href="{{post.source}}" rel="permalink">Code</a>
              {% endif %}
            </td>


        {% endif %}
  </article>
</div>
