/* ==========================================================================
   CUSTOMS
   ========================================================================== */
img.table_entry {
  width: 90px;
  box-sizing: border-box;
  margin: auto;
  object-fit: scale-down;
  max-width: none;
}

div.conf_title {
  font-weight: bold;
  display:inline;
  font-size: 1em;
}

div.conf_venue {
}

div.conf_authors {
}

div.conf_authors, div.conf_venue {
  display:inline;
  font-size: $type-size-c;
}


a.button {
    //background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1px 1px;
    padding: 2px 6px;
    margin-top: 5px;
    cursor: pointer;
    font-size: $type-size-c;
    font-family: $global-font-family;
    border-radius: 4px;
    background-color: white;
    // background-color: #FFFFFF;
    // color: $info-color;
    color: $dark-gray;
    -webkit-transition-duration: 0.2s; /* Safari */
    border: 1px solid #6c6c6c;
    transition-duration: 0.2s;
}
.button:hover {
    // background-color: #4CAF50; /* Green */
    // color: white;
    // background-color: $dark-gray;
    // text-decoration: none;
    //
  border: 1px solid $info-color;
  color: $info-color
}

// a.bibtex {
//   border: 2px solid #4CAF50; /* Green */
// }

a.bibtex:hover {
  text-decoration: none;
  // background-color: #4CAF50; /* Green */
}

// a.pdf {
//   border: 2px solid $info-color; /* Link */
// }

a.pdf:hover {
  // background-color: $info-color; /* Link */
  text-decoration: none;
}

// a.project {
//   border: 2px solid #ffcc33; /* Orange */
// }

a.project:hover {
  text-decoration: none;
  // background-color: #ffcc33; /* Orange */
}

// a.arxiv {
//   border: 2px solid #f44336; /* Red */
// }

a.arxiv:hover {
  text-decoration: none;
  // background-color: #f44336; /* Red */
}
// a.source {
//   border: 2px solid #9932CC; /* Purple */
// }

a.source:hover {
  text-decoration: none;
  // background-color: #9932CC;
}

a.video:hover {
  text-decoration: none;
  // background-color: #7FFFD4;
}

a.poster:hover {
  text-decoration: none;
  // background-color: #FF6836;
}

// a.data {
//   border: 2px solid #4CAF50; /* Green */
// }

a.data:hover {
  text-decoration: none;
  // background-color: #FF00FF; /* Magenta */
}

ul.no_bullet {
  padding: 0px;
  list-style-type: none;
  font-family: $global-font-family;
  font-size: 1em;
}

div.news {
  background-color: $lighter-gray;
  border: 1px solid $info-color;
  border-radius: 10px;
  padding-left: 10px;
}
