/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  font-family: $global-font-family;
  font-size: 1em;
  border-collapse: collapse;
  border-spacing: 2px;
  line-height: 1.3;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $lighter-gray;
  border-bottom: 1px solid $light-gray;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 1px solid $light-gray;
}

td {
  padding: 0.5em;
  align: center;
}

tr, td, th {
  vertical-align: middle;
}